# Working with Data
## Lists
We've already seen quick introduction to lists in the previous chapter.

In [1]:
[1, 2, 3, 4]

[1, 2, 3, 4]

In [2]:
["hello", "world"]

['hello', 'world']

In [3]:
[0, 1.5, "hello"]

[0, 1.5, 'hello']

A list can contain another list as member

In [5]:
a = [1, 2]
b = [1.5, 2, a]
print(a)
print(b)

[1, 2]
[1.5, 2, [1, 2]]

The built-in function **range** can be used to create a list of integers.  
* Python3 range() 函数返回的是一个可迭代对象（类型是对象），而不是列表类型， 所以打印的时候不会打印列表。
* Python3 list() 函数是对象迭代器，可以把range()返回的可迭代对象转为一个列表，返回的变量类型为列表。
* Python2 range() 函数返回的是列表

In [40]:
list(range(3))

[0, 1, 2]

In [41]:
list(range(3, 6))

[3, 4, 5]

The built-in function **len** can be used to find the length of list.

In [18]:
a = [1, 2, 3, 4]
print(a)
len(a)

[1, 2, 3, 4]

4

The + and * operators work even on lists.

In [19]:
a = [1, 2, 3]
b = [4, 5]
a + b

[1, 2, 3, 4, 5]

In [20]:
b * 3

[4, 5, 4, 5, 4, 5]

List can be indexed to get individual entries. Value of index can go from 0 to (length of list -1).

In [21]:
x = [1, 2]
x[0]

1

In [22]:
x[1]

2

When a wrong index is used, python gives an error.

In [23]:
x[5]

IndexError: list index out of range

Negative indices can be used to index the list from right.

In [24]:
x = [1, 2, 3, 4]
x[-1]

4

In [25]:
x[-2]

3

We can use list slicing to get part of a list.

In [26]:
x = [1, 2, 3, 4]
print(x[0:2])
print(x[1:4])

[1, 2]
[2, 3, 4]

Even negative indices can be used in slicing. For example, the following examples strips the last element from the list.

In [27]:
x[0:-1]

[1, 2, 3]

Slice indices have useful defaults; an omitted index defaults to zero, an omitted second index defaults to the size of the list being sliced.

In [33]:
a = [1, 2, 3, 4]
a[:2]

[1, 2]

In [34]:
a[2:]

[3, 4]

In [37]:
a[:]

[1, 2, 3, 4]

In [39]:
x = range(10)
print(x)

range(0, 10)

In [43]:
x = list(range(10))
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
x[0:6:2]

[0, 2, 4]

In [46]:
x = list(range(10, 20))
print(x)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [47]:
x[2:6:2]

[12, 14]

We can reverse a list, just by providing -1 for increment.

In [48]:
x[::-1]

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10]

List members can be modified by assignment.

In [50]:
x = [1, 2, 3, 4]
x[2] = 111
print(x)

[1, 2, 111, 4]

Presence of a key in a list can be tested using **in** operator.

In [58]:
x = [1, 2, 3, 4]
2 in x

True

In [59]:
10 in x

False

Values can be appended to a list by calling **append** method on list. A method is just like a function, but it is associated with an object and can access that object when it is called. We will learn more about methods when we study classes.

In [60]:
x.append(333)
print(x)

[1, 2, 3, 4, 333]

**Problem:** What will be the output of the following program?

In [64]:
x = [0, 1, [2]]
x[2][0] = 3
print(x)

[0, 1, [3]]

In [65]:
x[2].append(4)
print(x)

[0, 1, [3, 4]]

In [67]:
x[2] = 2
print(x)

[0, 1, 2]

## The **for** Statement
Python provides **for** statement to iterate over a list. A **for** statement executes the specified block of code for every element in a list.

In [68]:
for x in [1, 2, 3, 4]:
    print(x)

1
2
3
4

In [69]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

The built-in function **zip** takes two lists and returns list of paris.

In [76]:
a = (zip(["a", "b", "c"], [1, 2, 3]))
print(type(a))

<class 'zip'>

In [77]:
b = list(a)
print(type(b))
print(b)

<class 'list'>
[('a', 1), ('b', 2), ('c', 3)]

It is handy when we want to iterate over two lists together.

In [79]:
names = ["a", "b", "c"]
values = [1, 2, 3]
for name, value in zip(names, values):
    print(name, value)

a 1
b 2
c 3

In [2]:
names = ["a", "b", "c"]
values = [1, 2, 3]
for name in names:
    for value in values:
        print(name, value)

a 1
a 2
a 3
b 1
b 2
b 3
c 1
c 2
c 3

In [3]:
for name, value in zip(names, values):
    print(name, value)

a 1
b 2
c 3

**Problem:** Python has a built-in function **sum** to find sum of all elements of a list. Provide an implementation for **sum**.

In [4]:
sum([1, 2, 3])

6

**Problem:** What happens when the above **sum** function is called with a list of strings? Can you make your sum function work for a list of strings as well.

In [5]:
sum(["hello", "world"])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [6]:
sum("hello", "world")

TypeError: sum() can't sum strings [use ''.join(seq) instead]

In [7]:
a = ["hello", "world"]
print(type(a))
print(a)
sum(a)

<class 'list'>
['hello', 'world']

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
def product(x):
    return sum(x)

x = [1, 2, 3]
print(product(x))

x = ["hello", "world"]
print(product(x))

6

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
def fractorial1(x):
    f = 0
    for e in x:
        f += e
    return f

x = {1, 2, 3, 4}

print(fractorial1(x))

10

In [13]:
def fractorial2(x):
    f = 1
    while x > 0:
        f *= x
        x -= 1
    return f

print(fractorial2(4))

24

**Problem:** Write a function **reverse** to reverse a list. Can you do this without using list slicing?

In [49]:
def reverse(x):
    x_reverse = x
    for i in range(len(x)):
        print("=========")
        print(i)
        print("---------") 
        print(-1-i)
        print("---------")
        a = x[-1 - i]
        print(a)
        x_reverse[i] = a
    return x_reverse

xx = [1, 2, 3, 4]

print(reverse(xx))

=========
0
---------
-1
---------
4
=========
1
---------
-2
---------
3
=========
2
---------
-3
---------
3
=========
3
---------
-4
---------
4
[4, 3, 3, 4]

In [46]:
x = [1, 2, 3, 4]
for i in range(len(x)):
    print(x[-1 - i])

4
3
2
1

## Sorting Lists
The **sort** method sorts a list in place.

In [50]:
a = [2, 10, 4, 3, 7]
a.sort()
print(a)

[2, 3, 4, 7, 10]

The built-in function **sorted** returns a new sorted list without modifying the source list.

In [56]:
a = [2, 10, 4, 3, 7]
print(sorted(a))
print(a)

[2, 3, 4, 7, 10]
[2, 10, 4, 3, 7]

In [52]:
a

[2, 3, 4, 7, 10]

In [3]:
a = [[2, 3], [4, 6], [6, 1]]
print(sorted(a))
print(sorted(a, key=lambda x:x[1]))
print(sorted(a, key=lambda x:x[0]))

[[2, 3], [4, 6], [6, 1]]
[[6, 1], [2, 3], [4, 6]]
[[2, 3], [4, 6], [6, 1]]

## Tuples
Tuple is a sequence type just like **list**, but it is immutable. A tuple consists of a number of values separated by commas.

In [1]:
a = (1, 2, 3)
a[0]

1

In [2]:
a[0] = 44

TypeError: 'tuple' object does not support item assignment

The built-in function **len** and slicing works on tuples too.

In [4]:
len(a)

3

In [5]:
a(1:)

SyntaxError: invalid syntax (<ipython-input-5-7da947128653>, line 1)

## Sets
Sets are unordered collection of unique elements.

In [7]:
x = set([3, 1, 2, 1])
print(x)

{1, 2, 3}

## Strings
Strings also behave like lists in many ways. Length of a string can be found using built-in function **len**.

In [8]:
len("aldjfkjlkjlj")

12

Indexing and slicing on strings behave similar to that of lists.

In [9]:
a = "lskjdflksjdlfj"
a[1]

's'

In [10]:
type(Out[9])

str

In [11]:
a[4:]

'dflksjdlfj'

In [12]:
a[-2:]

'fj'

In [13]:
a[::-1]

'jfldjsklfdjksl'

There are many useful methods on strings.  
The **split** method splits a string using a delimiter. If no delimiter is specified, it uses any whitespace char as delimiter.

In [14]:
"hello world".split()

['hello', 'world']

In [15]:
print(type(Out[14]))

<class 'list'>

In [16]:
"a, b, c".split(",")

['a', ' b', ' c']

In [20]:
" ".join(["hello", "world"])

'hello world'

In [21]:
",".join(["a", "b", "c"])

'a,b,c'